{% extends 'base.html' %}

{% block content %}
    <a href="/admin/departments/" class="previous">&laquo; Previous</a>
    <h1>Add Department</h1>
    <form method="POST" action="">
        <div class="form-group">
            <input type="text" name="name" placeholder="Name">
        </div>
        <div class="form-group">
            <input type="text" name="address" placeholder="Address">
        </div>
        <p><input class="btn btn-primary" type="submit" value="Submit">
    </form>
{% endblock %}
