{% extends 'base.html' %}

{% block content %}
    <a href="/admin/departments/" class="previous">&laquo; Previous</a>
    <h1>Add Employee</h1>
    <form method="POST" action="">
        <div class="form-group">
            <input type="text" name="name" placeholder="n FlaskTRTestsame">
        </div>
        <div class="form-group">
            <input type="date" name="date_of_birth" placeholder="Date Of Birth">
        </div>
        <div class="form-group">
            <input type="text" name="salary" placeholder="Salary">
        </div>
        <div class="form-group">
            <input type="text" name="department_id" placeholder="department id">
        </div>
        <p><input class="btn btn-primary" type="submit" value="Submit">
    </form>
{% endblock %}
