{% extends 'base.html' %}
{% block title %}Admin{% endblock %}
{% block content %}
    {% include 'includes/_messages.html' %}
    <a href="/admin/employees/" class="previous">Edit Employees</a>
    <h1 align="center">EDIT DEPARTMENTS</h1>
    <a class="btn btn-success" href="/admin/add_department">Add Department</a>
    <table class="table table-striped">
        <tr>
            <th>Depatrment name</th>
            <th>Department address</th>
            <th>Amount of employees</th>
            <th>Average salary</th>
        </tr>
        {% for department in depatrments %}
            <tr>
                <td>{{ department.name }}</td>
                <td>{{ department.address }}</td>
                <td>{{ Employee.query.filter_by(department_id=department.id).count() }}</td>
                <td>{{ avg_salary[department.id-1] }}</td>
                <td> <a href="/admin/edit_department/{{ department.id }}" class="btn btn-default pull-right">Edit</a></td>
                <td>
                    <form action="/admin/departments/delete_department/{{ department.id }}" method="post">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="submit" value="Delete" class="btn btn-danger">
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
