{% extends 'base.html' %}
{% block title %}Admin{% endblock %}
{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <div class="alert alert-success">
                  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                  {{ msg }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <a href="/admin/departments/" class="previous">Edit Departments</a>
    <h1 align="center">EDIT EMPLOYEES</h1>
    <a class="btn btn-success" href="/admin/add_employee">Add Employee</a>
    <table class="table table-striped">
    <tr>
        <th>Employee name</th>
        <th>Employee Date of Birth</th>
        <th>Employees Salary</th>
        <th>Employees Department</th>
    </tr>
    {% for employee in employees %}
        <tr>
            <td>{{ employee.name }}</td>
            <td>{{ employee.date_of_birth }}</td>
            <td>{{ employee.salary }}</td>
            <td>{{ Department.query.filter_by(id=employee.department_id).first().name }}</td>
            <td> <a href="/admin/edit_employee/{{ employee.id }}" class="btn btn-default pull-right">Edit</a></td>
            <td>
                <form action="/admin/employees/delete_employee/{{ employee.id }}" method="post">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="submit" value="Delete" class="btn btn-danger">
                </form>
            </td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
