{% extends 'base.html' %}
{% block title %}Admin{% endblock %}
{% block content %}
    {% include 'includes/_messages.html' %}
    <h1 align="center"><a href="/admin/departments">Edit Departments</a></h1>
    <h1 align="center"><a href="/admin/employees">Edit Employees</a></h1>
{% endblock %}
