{% extends 'base.html' %}
{% block title %}Login Page{% endblock %}

{% block content %}
    {% include 'includes/_messages.html' %}
    <form action="#" method="post">
        <input type="text" name="name" placeholder="Name"><br><br>
        <input type="text" name="email" placeholder="Email"><br><br>
        <input type="password" name="password" placeholder="Password"><br><br>
        <input type="submit" name="OK">
    </form>
{% endblock %}



