{% extends 'base.html' %}

{% block content %}
    <a href="/admin/employees/" class="previous">&laquo; Previous</a>
    <h1>Edit Employee <strong>{{ employee.id }}</strong></h1>
    <form method="POST" action="">
        <div class="form-group">
            <input type="text" name="name" value={{ employee.name }}>
        </div>
        <div class="form-group">
            <input type="date" name="date_of_birth" value={{ employee.date_of_birth }}>
        </div>
        <div class="form-group">
            <input type="text" name="salary" value={{ employee.salary }}>
        </div>
        <div class="form-group">
            <input type="text" name="department_id" value={{ employee.department_id }}>
        </div>
        <p><input class="btn btn-primary" type="submit" value="Submit">
    </form>
{% endblock %}