{% extends 'base.html' %}

{% block content %}
    <a href="/admin/departments/" class="previous">&laquo; Previous</a>
    <h1>Edit Department <strong>{{ department.id }}</strong></h1>
    <form method="POST" action="">
        <div class="form-group">
            <input type="text" name="name" value={{ department.name }}>
        </div>
        <div class="form-group">
            <input type="text" name="address" value={{ department.address }}>
        </div>
        <p><input class="btn btn-primary" type="submit" value="Submit">
    </form>
{% endblock %}
