{% extends 'base.html' %}
{% block title %}Home Page{% endblock %}

{% block content %}
  <div class="jumbotron text-center">
    <h1>Welcome To Flask App</h1>
    <p class="lead">This application is built on the Python Flask framework. It can be used to manage and view departments and employees lists.<br></p>
    {% if 'user' not in session %}
      <a href="/create" class="btn btn-primary btn-lg">Register</a>
      <a href="/login" class="btn btn-success btn-lg">Login</a>
    {% endif %}
  </div>
{% endblock %}