{% extends 'base.html' %}
{% block title %}Login Page{% endblock %}

{% block content %}
    {% include 'includes/_messages.html' %}
    <form action="" method="post">
        <div class="form-group">
            <input type="text" class="form-control" name="name" placeholder="Login">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Password">
        </div>
        <div class="form-group">
            <input type="submit" name="OK">
        </div>
    </form>
{% endblock %}
