{% extends 'base.html' %}
{% block title %}View{% endblock %}
{% block content %}
    {% include 'includes/_messages.html' %}
    <h1 align="center">Departments</h1>
    <table class="table table-striped">
        <tr>
            <th>Depatrment name</th>
            <th>Department address</th>
            <th>Amount of employees</th>
            <th>Average salary</th>
        </tr>
        {% for department in depatrments %}
            <tr>
                <th>{{ department.name }}</th>
                <th>{{ department.address }}</th>
                <th>{{ Employee.query.filter_by(department_id=department.id).count() }}</th>
                <th>{{ avg_salary[department.id-1] }}</th>
            </tr>
        {% endfor %}
    </table>

    <h1 align="center">Employees</h1>

    <table class="table table-striped">
        <tr>
            <th>Employee name</th>
            <th>Employee Date of Birth</th>
            <th>Employees Salary</th>
            <th>Employees Department</th>
        </tr>
        {% for employee in employees %}
            <tr>
                <th>{{ employee.name }}</th>
                <th>{{ employee.date_of_birth }}</th>
                <th>{{ employee.salary }}</th>
                <th>{{ Department.query.filter_by(id=employee.department_id).first().name }}</th>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
